@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glitch {
  0% { transform: translate(0); }
  10% { transform: translate(-2px, 2px); }
  20% { transform: translate(2px, -1px); }
  30% { transform: translate(-1px, -1px); }
  40% { transform: translate(1px, 2px); }
  50% { transform: translate(0); }
  100% { transform: translate(0); }
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 100% {
    opacity: 1;
    background-color: white;
  }
  20%, 21.999%, 63%, 63.999% {
    opacity: 0.3;
    background-color: black;
  }
}

@keyframes shake-screen {
  0% { transform: translate(0, 0); }
  25% { transform: translate(2px, -2px); }
  50% { transform: translate(-3px, 3px); }
  75% { transform: translate(2px, 2px); }
  100% { transform: translate(0, 0); }
}

.glitch {
  animation: glitch 100ms infinite;
}

.flicker {
  animation: flicker 1.5s infinite;
}

.shake-screen {
  animation: shake-screen 0.4s infinite;
}

.invert-theme {
  filter: invert(1) hue-rotate(180deg);
}
